.school h3{
  font-weight: 700;
  color: var(--text);
  letter-spacing: 0.01rem;
}

.school h4{
  font-weight: 500;
  letter-spacing: 0.01rem;

}

.experience h3 {
  font-weight: 700;
  color: var(--text);
  letter-spacing: 0.01rem;
}

.experience h5 {
  font-weight: 600;
  letter-spacing: 0.01rem;

}

.experience p {
  letter-spacing: 0.01rem;
}

.expcard img{
  height: 5000px;
  width: auto;
}