@import "tailwindcss";

/* https://github.com/tailwindlabs/tailwindcss/discussions/13211#discussion-6360347 */
@layer base {
	:root {
		--radius: 0.5rem;
	}

	.dark {
		--radius: 0.5rem;
	}
}
@theme {
	--color-theme-purple: oklch(54.94% 0.2913074585707993 298.24104057049317);

	--radius-sm: calc(var(--radius) - 4px);
	--radius-md: calc(var(--radius) - 2px);
	--radius-lg: var(--radius);

	--font-sans:
		Geist Sans, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
		"Segoe UI Symbol", "Noto Color Emoji";
	--font-mono:
		Geist Mono, ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
		"Courier New", monospace;

	--animate-accordion-down: accordion-down 0.2s ease-out;
	--animate-accordion-up: accordion-up 0.2s ease-out;
	@keyframes accordion-down {
		from {
			height: 0;
		}

		to {
			height: var(--radix-accordion-content-height);
		}
	}

	@keyframes accordion-up {
		from {
			height: var(--radix-accordion-content-height);
		}

		to {
			height: "0";
		}
	}
}

button {
	cursor: pointer;
}
