@tailwind base;
@tailwind components;
@tailwind utilities;
/* @import "material-symbols"; */

:root {
  --overlay: #f6eced;
  --bg: #fff5f6;
  --text: #000000;
  --textinvert: #ffffff;
  --accent: #aa4465;
  --accenttranslucent: rgba(170, 68, 101, 0.85);
  --navColor: rgba(255, 245, 246, 0.85);
  --lineargradient: linear-gradient(
    to right,
    #ff3b30,
    #ff9500,
    #ffcc00,
    #34c759,
    #00c7be,
    #30b0c7,
    #32ade6,
    #007aff,
    #5856d6,
    #af52de,
    #ff2d55
  );
}

@media (prefers-color-scheme: dark) {
  :root {
    --overlay: #f6eced;
    --bg: #fff5f6;
    --text: #000000;
    --textinvert: #ffffff;
    --accent: #aa4465;
    --navColor: rgba(255, 245, 246, 0.85);
  }
}

.progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 3px;
  background: var(--accent);
  transform-origin: 0%;
}

body {
  background-color: var(--bg);
  color: var(--text);
}

h1 {
  font-size: 3.815rem;
  font-size: clamp(
    3.815rem,
    3.2699999999999996rem + 1.3625000000000005vw,
    4.578rem
  );
}
h2 {
  font-size: 3.052rem;
  font-size: clamp(3.052rem, 2.616rem + 1.0899999999999996vw, 3.6624rem);
}
h3 {
  font-size: 2.441rem;
  font-size: clamp(
    2.441rem,
    2.092285714285714rem + 0.8717857142857142vw,
    2.9292rem
  );
}
h4 {
  font-size: 1.953rem;
  font-size: clamp(
    1.953rem,
    1.6740000000000002rem + 0.6974999999999997vw,
    2.3436rem
  );
}
h5 {
  font-size: 1.563rem;
  font-size: clamp(
    1.563rem,
    1.3397142857142856rem + 0.5582142857142857vw,
    1.8756rem
  );
}
h6 {
  font-size: 1.25rem;
  font-size: clamp(
    1.25rem,
    1.0714285714285714rem + 0.4464285714285714vw,
    1.5rem
  );
}
p {
  font-size: 1rem;
  font-size: clamp(1rem, 0.8571428571428572rem + 0.35714285714285704vw, 1.2rem);
  letter-spacing: 0.01rem;
  line-height: 1.7;
}
small {
  font-size: 0.8rem;
  font-size: clamp(
    0.8rem,
    0.6857142857142858rem + 0.28571428571428553vw,
    0.96rem
  );
}

.navText {
  color: var(--text);
}

.sidebar {
  background-color: var(--bg);
}
header,
.upbtn {
  background-color: rgba(255, 245, 246, 0.5);
}

.upbtn:hover {
  background-color: white;
  color: var(--textinvert);
}

.sidebar a {
  font-size: 1.953rem;
  font-size: clamp(
    1.953rem,
    1.6740000000000002rem + 0.6974999999999997vw,
    2.3436rem
  );
  color: var(--text);
}

.navitem {
  font-size: 1.25rem;
  font-size: clamp(
    1.25rem,
    1.0714285714285714rem + 0.4464285714285714vw,
    1.5rem
  );
}

.navitem:hover,
.sidebar a:hover {
  color: var(--accent);
}

.closebtn:hover,
.navBtn:hover {
  filter: invert(34%) sepia(81%) saturate(556%) hue-rotate(291deg)
    brightness(84%) contrast(83%);
}

.title,
.subtitle {
  color: var(--text);
}

.defaultbtn {
  font-size: 1rem;
  font-size: clamp(1rem, 0.8571428571428572rem + 0.35714285714285704vw, 1.2rem);
  color: var(--text);
  font-weight: 600;
  border: 6px solid var(--accent);
}

.defaultbtn:hover {
  background-color: var(--accent);
  box-shadow: 10px 10px var(--text);
  color: var(--textinvert);
}

.secondarybtn {
  font-size: 1rem;
  font-size: clamp(1rem, 0.8571428571428572rem + 0.35714285714285704vw, 1.2rem);
  color: var(--text);
  font-weight: 600;
  border: 3px solid var(--accent);
}

.secondarybtn:hover {
  background-color: var(--accent);
  box-shadow: 6px 6px var(--text);
  color: var(--textinvert);
}

.secondarybtninvert {
  font-size: 1rem;
  background-color: var(--accent);
  font-size: clamp(1rem, 0.8571428571428572rem + 0.35714285714285704vw, 1.2rem);
  color: var(--textinvert);
  font-weight: 600;
  border: 3px solid var(--accent);
}

.secondarybtninvert:hover {
  background-color: var(--bg);
  border-color: var(--text);
  box-shadow: 6px 6px var(--text);
  color: var(--text);
}

.disabledbtn {
  font-size: 1rem;
  font-size: clamp(1rem, 0.8571428571428572rem + 0.35714285714285704vw, 1.2rem);
  font-weight: 600;
  border: 3px solid;
}

.invertbtn {
  font-size: 1rem;
  font-size: clamp(1rem, 0.8571428571428572rem + 0.35714285714285704vw, 1.2rem);
  color: var(--accent);
  font-weight: 600;
  border: 4px solid var(--text);
}
.invertbtn:hover {
  background-color: var(--text);
  box-shadow: 10px 10px var(--accent);
  color: var(--textinvert);
}

.card:hover {
  background-color: var(--accent);
  box-shadow: 10px 10px var(--text);
  color: var(--textinvert);
}

.skillslist {
  background-color: var(--accent);
}

.contentTitle {
  font-size: clamp(3rem, 2.2857rem + 1.7857vw, 4rem);
  color: var(--text);
}

.contentText {
  font-size: clamp(1rem, 0.7143rem + 0.7143vw, 2.5rem);
  color: var(--text);
}

.social p:hover {
  color: var(--accent);
}

@property --angle {
  inherits: true;
  initial-value: 0deg;
  syntax: "<angle>";
}

#skillitem {
  --angle: 0;
  animation: rotate-gradient 2.5s infinite linear;
  animation-play-state: running;
}

#skillitem:hover {
  animation-play-state: running;
}

#skillitem:hover {
  --gradient: conic-gradient(
    from calc(180deg + var(--angle)),
    #ff3b30,
    #ff9500,
    #ffcc00,
    #34c759,
    #00c7be,
    #30b0c7,
    #32ade6,
    #007aff,
    #5856d6,
    #af52de,
    #ff2d55
  );
  color: hsl(0 0% 92%);
  background:
    linear-gradient(var(--accent), var(--accent)) padding-box,
    var(--gradient) border-box;
  border: 2px solid transparent;
  position: relative;
}
#skillitem {
  transition: all 300ms ease-in;
  background: linear-gradient(var(--accent), var(--accent)) border-box;
  border: 2px solid transparent;
}

#killitem::before {
  transition: all 300ms ease-out;
}
#skillitem:hover::before {
  /* transition: all 1000ms ease-out; */
  --gradient: conic-gradient(
    from calc(180deg + var(--angle)),
    #ff3b30,
    #ff9500,
    #ffcc00,
    #34c759,
    #00c7be,
    #30b0c7,
    #32ade6,
    #007aff,
    #5856d6,
    #af52de,
    #ff2d55
  );
  content: "";
  position: absolute;
  inset: 0;
  background: var(--gradient) border-box;
  z-index: -10;
  transform: scale(1.05);
  filter: blur(10px);
}

@keyframes rotate-gradient {
  from {
    --angle: 0deg;
  }

  to {
    --angle: 360deg;
  }
}
